@if (smsNotification) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(smsNotification.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="smsNotificationDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Подтвердите операцию удаления
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-smsNotification-heading"
        jhiTranslate="medSlotApp.smsNotification.delete.question"
        [translateValues]="{ id: smsNotification.id }"
      >
        Вы уверены что хотите удалить Sms Notification {{ smsNotification.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
      </button>

      <button id="jhi-confirm-delete-smsNotification" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Удалить</span>
      </button>
    </div>
  </form>
}
