<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (doctor(); as doctorRef) {
      <div>
        <h2 data-cy="doctorDetailsHeading"><span jhiTranslate="medSlotApp.doctor.detail.title">Doctor</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ doctorRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="medSlotApp.doctor.specialty">Specialty</span></dt>
          <dd>
            <span>{{ doctorRef.specialty }}</span>
          </dd>
          <dt><span jhiTranslate="medSlotApp.doctor.phone">Phone</span></dt>
          <dd>
            <span>{{ doctorRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="medSlotApp.doctor.clinic">Clinic</span></dt>
          <dd>
            @if (doctor()!.clinic) {
              <div>
                <a [routerLink]="['/clinic', doctor()!.clinic?.id, 'view']">{{ doctorRef.clinic?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <button type="button" [routerLink]="['/doctor', doctorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
        </button>
      </div>
    }
  </div>
</div>
