<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-doctor-schedule-heading"
        data-cy="DoctorScheduleCreateUpdateHeading"
        jhiTranslate="medSlotApp.doctorSchedule.home.createOrEditLabel"
      >
        Создать или отредактировать Doctor Schedule
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="medSlotApp.doctorSchedule.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dayOfWeekRef = editForm.get('dayOfWeek')!;
        <div class="mb-3">
          <label class="form-label" for="field_dayOfWeek" jhiTranslate="medSlotApp.doctorSchedule.dayOfWeek">Day Of Week</label>
          <input type="number" class="form-control" name="dayOfWeek" id="field_dayOfWeek" data-cy="dayOfWeek" formControlName="dayOfWeek" />
          @if (dayOfWeekRef.invalid && (dayOfWeekRef.dirty || dayOfWeekRef.touched)) {
            <div>
              @if (editForm.get('dayOfWeek')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              @if (editForm.get('dayOfWeek')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1' }"
                  >Это поле должно быть больше, чем 1.</small
                >
              }
              @if (editForm.get('dayOfWeek')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '7' }"
                  >Это поле не может быть больше, чем 7.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dayOfWeek')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>

        @let startTimeRef = editForm.get('startTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_startTime" jhiTranslate="medSlotApp.doctorSchedule.startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (startTimeRef.invalid && (startTimeRef.dirty || startTimeRef.touched)) {
            <div>
              @if (editForm.get('startTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Это поле должно быть дата и время.</small
              >
            </div>
          }
        </div>

        @let endTimeRef = editForm.get('endTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_endTime" jhiTranslate="medSlotApp.doctorSchedule.endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (endTimeRef.invalid && (endTimeRef.dirty || endTimeRef.touched)) {
            <div>
              @if (editForm.get('endTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Это поле должно быть дата и время.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_doctor" jhiTranslate="medSlotApp.doctorSchedule.doctor">Doctor</label>
          <select
            class="form-control"
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            formControlName="doctor"
            [compareWith]="compareDoctor"
          >
            <option [ngValue]="null"></option>
            @for (doctorOption of doctorsSharedCollection; track $index) {
              <option [ngValue]="doctorOption">{{ doctorOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
